#intro {
    width: 100%;
    height: 750px;
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#info {
    width: 1040px;
    height: 447px;
    margin: 120px 163px 183px 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    header {
        width: 680px;
        height: 327px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }

    header > #avatar {
        height: 96px;
        width: 96px;
        border: solid var(--red) 3px; 
        border-radius: 100%;
        margin-bottom: 56px;
        position: relative;
        padding: 4px;
    }

    header > :nth-child(2) {
        position: absolute;
        bottom: 76%;
        left: 51%;
    }

    header > :nth-child(3) {
        font: var(--inconsolata-subtitle);
        margin-bottom: 8px;
        color: var(--gray-500);
    }

    header > :nth-child(3) > span {
        color: var(--red);
    }

    header > h1 {
        font: var(--asap-title-lg);
        margin-bottom: 20px;
        color: var(--gray-600);
    }

    header > :nth-child(5) {
        font: var(--maven-text-sm);
        color: var(--gray-400);
    }

    ul {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 754px;
        margin-bottom: 94px;
    }

    .tag > img {
        width: 24px;
        height: 24px;
    }

    .tag {
        display: flex;
        font: var(--maven-text-md);
        background-color: var(--gray-300);
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-block: 8px;
        padding-inline: 16px;
        border-radius: 999px;
        color: var(--gray-500);
    }
}

#projects {
    width: 100%;
    height: 917px;
    background-color: var(--gray-200);

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font: var(--inconsolata-subtitle);
            margin-bottom: 8px;
        }

        h2 {
            font: var(--asap-title-md);
            margin-bottom: 56px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 330px);
        grid-template-rows: repeat(2, 280px);
        column-gap: 24px;
        row-gap: 24px;
        justify-content: center;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        background-color: var(--gray-300);
        align-items: flex-start;
        justify-content: center;
        border-radius: 12px;
        padding-inline: 12px;
        padding-bottom: 17px;

        img {
            width: 306px;
            height: 156px;
            margin: 12px auto 24px;
            border-radius: 8px;
        }

        h1 {
            margin-bottom: 8px;
            font: var(--asap-title-sm);
        }

        p {
            font: var(--maven-text-sm);
            color: var(--gray-500);
        }
    }

    .project-card:hover {
        border: 2px solid var(--gray-400);
    }
}

#services {
    width: 100%;
    height: 480px;
    background-color: var(--gray-100);

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 86px;
        margin-bottom: 56px;

        h3{
            font: var(--inconsolata-subtitle);
            margin-bottom: 8px;
        }

        h2{
            font: var(--asap-title-md);
            color: var(--gray-600);
        }
    }

    #skills {
        display: grid;
        grid-template-columns: repeat(3,280px);
        column-gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 155px;
        border: solid 2px var(--gray-200);
        border-radius: 12px;
        padding: 20px;

        img {
            width: 48px;
            height: 48px;
            margin-bottom: 20px;
        }

        h2 {
            font: var(--asap-title-sm);
            color: var(--gray-600);
            margin-bottom: 8px;
        }

        p{
            font: var(--maven-text-sm);
            color: var(--gray-500);
        }
    }
}

#contacts {
    width: 100%;
    height: 787px;
    background-image: url(../assets/images/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 128px;
        margin-bottom: 48px;

        h3{
            font: var(--inconsolata-subtitle);
            color: var(--purple);
            margin-bottom: 8px;
        }

        h2 {
            font: var(--asap-title-md);
            color: var(--gray-600);
            margin-bottom: 8px;
        }

        p {
            font: var(--maven-text-md);
            color: var(--gray-500);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    ul > :hover {
        border: 3px solid var(--blue);
     }

    li {
        width: 400px;
        background-color: var(--gray-300);
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding: 20px;
        border-radius: 8px;

        p {
            font: var(--maven-text-md);
            color: var(--gray-500);
            width: 288px;
        }
    }

    li > :nth-child(1) {
        margin-right: 12px;
    }

    li > img:hover {
        color: var(--blue);
    }
}

.red {
    color: var(--red);
}